* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(pic/euro\ 2024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#border {
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    background-color: rgb(255, 255, 255, 0.5);
}